<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Prometheus</title>
    <base href="../">
    <link rel='stylesheet' href='stylesheets/loading.css' />
</head>
<body>
    <div id='content'>
        <div id="header">
            <img src="images/prometheus.png" height="30px"/><br/>
            <h1>Prometheus</h1>
        </div>
        <div class="meter">
			<span id="progress" style="width: 0%"></span>
		</div>
        <script>
            require('../renderers/load.js');
        </script>
    </div>
</body>
</html>