@import url('https://fonts.googleapis.com/css?family=Raleway&Open+Sans');

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

#content {
    animation: fadein 0.5s;
    width: 350px;
    height: 130px;
    background: #f1f1f1;
    -webkit-box-shadow: 0 0 5px #000000;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 20px;
    margin: 5px;
}

#header {
    text-align: center;
    margin-top: 10px;
}

#header > h1, #header > img {
    font-size: 24px;
    height: 30px;
    line-height: 0px;
    color: #474747;
}

.meter { 
    height: 20px;  /* Can be anything */
    position: relative;
    margin: -10px 20px 0px 20px; /* Just for demo spacing */
    background: #555;
}
.meter > span {
    display: block;
    height: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3b3),color-stop(1, #f42322));
	background-image: -webkit-linear-gradient(#f0a3b3, #f42322);
    position: relative;
    overflow: hidden;
    transition: 0.5s
}
.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: 
        -webkit-gradient(linear, 0 0, 100% 100%, 
            color-stop(.25, rgba(255, 255, 255, .2)), 
            color-stop(.25, transparent), color-stop(.5, transparent), 
            color-stop(.5, rgba(255, 255, 255, .2)), 
            color-stop(.75, rgba(255, 255, 255, .2)), 
            color-stop(.75, transparent), to(transparent)
        );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

#status {
    width: 100%;
    text-align: center;
    margin-top: -20px;
    font-size: 12px;
    margin-bottom: 15px;
}